# .dockerignore

# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg
*.db

# Frontend (Crucial to exclude to reduce size)
frontend/
node_modules/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
.idea/
