fastapi 
uvicorn 
sqlmodel 
passlib[argon2] 
python-jose 
python-dotenv
qdrant-client
groq
pydantic-settings
psycopg2-binary
pydantic[email]
uvicorn[standard]
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu